@import "tailwindcss";

:root {
  /* Verde principal */
  --spotify-green: #1db954;
  --spotify-green-hover: #1ed760; /* para botones al pasar el mouse */

  /* Fondo principal */
  --spotify-black-dark: #121212;
  --spotify-black: #191919; /* ligeramente más claro para secciones */
  --spotify-black: #212121;

  /* Gris para textos y elementos secundarios */
  --spotify-gray-dark: #535353;
  --spotify-gray: #666666; /* texto secundario */
  --spotify-gray: #b3b3b3; /* texto normal */
  --spotify-gray-light: #e0e0e0; /* para iconos o placeholders */

  /* Barra lateral y botones */
  --spotify-sidebar-hover: #282828; /* hover sobre botones de la barra lateral */
  --spotify-sidebar-active: #333333; /* botón activo en la barra lateral */
  --spotify-button-text: #ffffff; /* texto de botones */

  /* Bordes / separadores */
  --spotify-border: #282828;

  /* Texto principal */
  --spotify-text-primary: #ffffff;
  --spotify-text-secondary: #b3b3b3;
  --spotify-text-tertiary: #535353;
}

html {
  background-color: var(--spotify-black-dark);
}

body {
  background: var(--spotify-black);
  color: var(--spotify-gray);
  font-family: Arial, Helvetica, sans-serif;
}

main {
  background-color: var(--spotify-black-dark);
  height: calc(100vh - 60px); /* Ajusta según la altura del header */
}
