@import "tailwindcss";

:root {
  /* Verde principal */
  --spotify-green: #1db954;
  --spotify-green-hover: #1ed760; /* para botones al pasar el mouse */

  /* Fondo principal */
  --spotify-black-dark: #121212;
  --spotify-black: #191919; /* ligeramente más claro para secciones */
  --spotify-black: #212121;

  /* Gris para textos y elementos secundarios */
  --spotify-gray-dark: #535353;
  --spotify-gray: #666666; /* texto secundario */
  --spotify-gray: #b3b3b3; /* texto normal */
  --spotify-gray-light: #e0e0e0; /* para iconos o placeholders */

  /* Barra lateral y botones */
  --spotify-sidebar-hover: #282828; /* hover sobre botones de la barra lateral */
  --spotify-sidebar-active: #333333; /* botón activo en la barra lateral */
  --spotify-button-text: #ffffff; /* texto de botones */

  /* Bordes / separadores */
  --spotify-border: #282828;

  /* Texto principal */
  --spotify-text-primary: #ffffff;
  --spotify-text-secondary: #b3b3b3;
  --spotify-text-tertiary: #535353;
}

html {
  background-color: var(--spotify-black-dark);
}

body {
  background: var(--spotify-black);
  color: var(--spotify-gray);
  font-family: Arial, Helvetica, sans-serif;
}

/* main {
  height: calc(100vh - 60px);
} */

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}
.hide-scrollbar {
  -ms-overflow-style: none; /* IE y Edge */
  scrollbar-width: none; /* Firefox */
}

.loading-spinner {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  /* border: 3px solid var(--spotify-green);
  border-top-color: var(--spotify-green-hover); */
  animation: breath 3s linear infinite;
  animation-delay: 0.5s;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes breath {
  0%,
  100% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0.5;
    transform: scale(0.8);
  }
}
