/* Track */
input[type="range"]::-webkit-slider-runnable-track {
  height: 0.5rem;
  background: #4ade80; /* color de progreso (green-400 Tailwind) */
  border-radius: 9999px;
}

/* Thumb oculto */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0;
  height: 0;
  background: transparent;
}

/* Firefox */
input[type="range"]::-moz-range-track {
  height: 0.5rem;
  background: #4ade80;
  border-radius: 9999px;
}

input[type="range"]::-moz-range-thumb {
  width: 0;
  height: 0;
  background: transparent;
}
